body {
    font: 12px Goudy Old Style;
}

button {
	width: 75%
}

body {
	background-color: #00598e;
}

.selected {
	background-color: black;
}

.dropdown-menu {
	padding: 0px !important;
	margin: 0px !important;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.btn-secondary {
	background-color: #00598e;
}

.border {
	padding: 0px;
}

.topLabel {
	background-color: #4dbeff;
	margin: 0px;
}

.bottomLabel {
	background-color: #00598e;
}

#machineInfo {
	list-style: none;
	padding: 0px;
}

#sidebar {
	text-align: center;
	background-color: #4dbeff;
	padding: 0px;
}

#sidebar div {
	margin-top: 7px;
}

#handlingImage {
	width: 100%;
    height: auto;
    max-width: 100%;
}

#summary {
	margin-top: 7px;
}

#summaryInfo div h3 {
	font-size: 2em;
	padding-top: 7px;
}

#motorsContainer {
	margin-top: 10px;
}

#motors p {
	text-align: center;
}

#motors h6, .topLabel {
	text-align: center;
	border-bottom: 1px solid black;
}

#leftHalf {
	float: left;
	width: 50%;
}

#rightHalf {
	float: right;
	width: 50%;
}

#motor1Temperature {
	width: 100%;
}

#motor1Vibration {
	width: 100%;
}